.usuarios {
    margin-top: 24px;
    cursor: pointer;
}

.tituloTable {
    letter-spacing: 3px;
    font-weight: bold;
    color: orange;
    margin-bottom: 24px;
}

.tabela {

    border: none;
    padding: 24px !important;

}

.acoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnTable:hover {
    opacity: 0.7;
    color: blue;
    cursor: pointer;
}

.Button:hover {
    opacity: 0.8 !important;
    background-color: blue !important;

}