.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    letter-spacing: 3px;
}

.itemMenu:hover {
    color: orange !important;
  


}